<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head layout:insert="includes/header.html"></head>

<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4"
									th:text="#{auth.create_new_account}"></h1>
							</div>
							<form class="user" action="#" th:action="@{/register}"
								th:object="${register}" method="post">
								<div class="col-lg-12 mb-4" th:if="${#fields.hasErrors('*')}">
									<div class="card bg-danger text-white shadow">
										<div class="card-body" th:inline="text">
											[[#{error.danger}]]
											<ul>
												<li class="text-white-50 small"
													th:each="e : ${#fields.detailedErrors()}"
													th:text="${e.fieldName + ' ' + e.message}"></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="text" class="form-control form-control-user"
											id="exampleFirstName" th:field="*{name}" th:placeholder="#{auth.name}">
									</div>
									<div class="col-sm-6">
										<input type="email" class="form-control form-control-user"
											id="exampleInputEmail" th:field="*{email}"
											th:placeholder="#{auth.email}">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											id="exampleInputPassword" th:field="*{password}"
											th:placeholder="#{auth.password}">
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user"
											id="exampleRepeatPassword" th:field="*{passwordConfirmation}"
											th:placeholder="#{auth.repeatPassword}">
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block"
									th:text="#{auth.create_account}"></button>
							</form>
							<hr>
							<div class="text-center">
								<a class="small" href="login"
									th:text="#{auth.account_already_login}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="scripts" layout:replace="includes/scripts.html"></div>

</body>

</html>