<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{includes/template.html}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Layout Dialect Example</title>
</head>
<body>
	<!-- Begin Page Content -->
	<div class="container-fluid" layout:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Produtos</h1>
		<p class="mb-4">Criar um novo produto</p>

		<div class="col-lg-12 mb-4" th:if="${message}">
			<div class="card bg-danger text-white shadow">
				<div class="card-body">
					Alerta!
					<div class="text-white-50 small" th:text="${message}"></div>
				</div>
			</div>
		</div>

		<!-- Form -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Novo produto</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<form role="form" action="#" method="post"
						th:action="@{/products/create}" th:object="${product}">
						<div class="col-lg-12">
						
						<div class="form-group">
								<label>Nome do Produto</label> <input type="text"
									class="form-control" th:field="*{name}">
							</div>

							<div class="form-group">
								<label>Descrição</label>
								<textarea class="form-control" rows="3"
									th:field="*{description}"></textarea>
							</div>
							<div class="form-group">
								<label>Valor minimo de venda</label> <input type="text"
									class="form-control" th:field="*{minimumSalePrice}">
							</div>
							
							
							<div class="form-group">
								<label>Prazo máximo de venda</label> <input type="datetime"
									class="form-control" th:field="*{auctionPeriod}">
							</div>
							<div class="form-group">
								<label>Modo de prémio:</label> <select th:field="*{awardMode}">
									<option th:value="'minValue'">Valor mínimo</option>
									<option th:value="'auctionPeriod'">Valor máximo</option>
								</select>
							</div>
							
							<div class="form-group">
						<label>Select files:</label> <input  accept="image/png, image/jpeg, 
						audio/mpeg, audio/ogg, video/ogg" th:field="*{multimedia}" th:type="file" multiple><br><br>
							</div>
						</div>

						<button type="submit" class="btn btn-default" wfd-id="147">Submit
							Button</button>
						<button type="reset" class="btn btn-default" wfd-id="146">Reset
							Button</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>