<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{includes/template.html}">
<head>
<title>Layout Dialect Example</title>
</head>
<body>
	<!-- Begin Page Content -->
	<div class="container-fluid" layout:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Produtos</h1>
		<p class="mb-4">Detalhes do produto [[${product.getName()}]]</p>

		<div class="col-lg-12 mb-4" th:if="${message}">
			<div class="card bg-success text-white shadow">
				<div class="card-body">
					Sucesso!
					<div class="text-white-50 small" th:text="${message}"></div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">[[${product.getName()}]]</h6>
			</div>
			<div class="card-body">
				<p>Nome do produto: [[${product.getName()}]]</p>
				<p>Descrição do produto: [[${product.getName()}]]</p>
				<p>Preço de venda mínimo: [[${product.getMinimumSalePrice()}]]</p>
				<p>Período de leilão: [[${product.getAuctionPeriod()}]]</p>
				<p>Vendedor: [[${product.getUser().getName()}]]</p>
				<th:block th:each="multimedia : ${product.getMultimedia()}">
					<p th:text="${multimedia.path}"></p>
				</th:block>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->
</body>
</html>