<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{includes/template.html}">
<head>
<title>Layout Dialect Example</title>
</head>
<body>
	<!-- Begin Page Content -->
	<div class="container-fluid" layout:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Produtos</h1>
		<p class="mb-4">Detalhes do produto [[${product.getName()}]]</p>

		<div class="col-lg-12 mb-4" th:if="${message}">
			<div class="card bg-success text-white shadow">
				<div class="card-body">
					Sucesso!
					<div class="text-white-50 small" th:text="${message}"></div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">[[${product.getName()}]]</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<th:block th:each="multimedia : ${product.getMultimedia()}">
							<th:block
								th:switch="${#strings.substringAfter(multimedia.getPath(),'.')}">
								<img th:case="'png'" th:src="${multimedia.getPath()}"
									class="img-responsive" style="max-width: 100%" />
								<img th:case="'jpg'" th:src="${multimedia.getPath()}"
									class="img-responsive" style="max-width: 100%" />
								<video th:case="'mp4'" th:src="${multimedia.getPath()}"
									class="img-responsive" style="max-width: 100%" controls>
									<source src="${multimedia.getPath()}" type="video/mp4">
								</video>
								<video th:case="'avi'" th:src="${multimedia.getPath()}"
									class="img-responsive" style="max-width: 100%" controls>
									<source src="${multimedia.getPath()}" type="video/avi">
								</video>
							</th:block>
						</th:block>
					</div>
					<div class="col-md-4">
						<p>Nome do produto: [[${product.getName()}]]</p>
						<p>Descrição do produto: [[${product.getDescription()}]]</p>
						<p>Período de leilão: [[${product.getAuctionPeriod()}]]</p>
						<p>Vendedor: [[${product.getUser().getName()}]]</p>
						<p th:if="${latestBidValue}">Valor da última oferta:
							[[${latestBidValue}]]</p>
						<hr>
						<form role="form" action="#" method="post"
							th:action="@{/bid/create}" th:object="${bid}">
							<div class="col-lg-12" th:if="${fields}">
								<div class="card bg-danger text-white shadow" th:if="${fields.hasErrors()}">
									<div class="card-body" th:inline="text">
										[[#{error.danger}]]
										<ul>
											<li class="text-white-50 small"
												th:each="e : ${fields.getAllErrors()}"
												th:text="${e.getObjectName() + ' ' + e.getDefaultMessage()}"></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-12">

								<div class="form-group">
									<label>Valor</label> <input type="number" step="0.01"
										class="form-control" th:field="*{value}"> <input
										type="hidden" th:field="*{productId}">
								</div>
							</div>

							<button type="submit" class="btn btn-default">Submit
								Button</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</body>
</html>